
extends ../layout/main

block main
    .slide-control
        button.slide-control__item.slide-control__item_front
        button.slide-control__item.slide-control__item_bottom
        button.slide-control__item.slide-control__item_back
        button.slide-control__item.slide-control__item_top

    .scene
        .cube
            .side.back
                .side__img
            .side.top
                .side__img
            .side.bottom
                .side__img
            .side.front
                .side__img
