
extends ../layout/main

block main
    .scene
        .cube
            .side.back
                .side__img
            .side.top
                .side__img
            .side.bottom
                .side__img
            .side.front
                .side__img
