
extends ../layout/main

block main
    .slide-control
        button.slide-control__item.slide-control__item_btn1
        button.slide-control__item.slide-control__item_btn2
        button.slide-control__item.slide-control__item_btn3
        button.slide-control__item.slide-control__item_btn4
        
    .scene
        .cube
            .side.back
                .side__img
            .side.top
                .side__img
            .side.bottom
                .side__img
            .side.front
                .side__img
