$cube-width = 100vw
$cube-height = 100vh
$cubeX = $cube-width/2
$cubeY = $cube-height/2
*
    margin 0
    padding 0

.scene
    perspective 200px
    display flex
    justify-content center
    align-items center
    position absolute
    top 0
    bottom 0
    left 0
    right 0

.cube
    display inline-block
    position relative
    width $cube-width
    height $cube-height
    transform-style preserve-3d
    transition transform 1s ease
    transform: translateZ(-($cubeY));
    &_btn1
        transform translateZ(-($cubeY)) rotateX(0deg)
    &_btn2
        transform translateZ(-($cubeY)) rotateX(90deg)
    &_btn3
        transform translateZ(-($cubeY)) rotateX(270deg)
    &_btn4
        transform translateZ($cubeY) rotateX(180deg)
.side
    background-color: rgba(255, 0, 0, 0.5);
    display flex
    justify-content center
    align-items center
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    &__img
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        background-color grey
        background-repeat no-repeat
        background-position center
        background-size cover

// .left
//     transform translateX(-25vw) rotateY(90deg)
// .right
//     transform translateX(25vw) rotateY(90deg)
.back
    transform translateZ( $cubeY ) rotateX(180deg)
    .side__img
        background-image url($img + '4.jpg')
.top
    transform translateY( -($cubeY) ) rotateX(90deg)
    .side__img
        background-image url($img + '3.jpg')
.bottom
    transform translateY( $cubeY ) rotateX(270deg)
    .side__img
        background-image url($img + '2.jpg')
.front
    transform translateZ( $cubeY )
    .side__img
        background-image url($img + '1.jpg')
