.slide-control
    position absolute
    top 0
    left 0
    right 0
    z-index 1
    display flex
    padding 15px
    &__item
        width 10vw
        height 10vh
        border 0
        background-color gray
        background-size cover
        background-repeat no-repeat
        background-position center
        &_back
            background-image url($img + 'back.jpg')
        &_top
            background-image url($img + 'top.jpg')
        &_bottom
            background-image url($img + 'bottom.jpg')
        &_front
            background-image url($img + 'front.jpg')
        &+&
            margin-left 15px
